body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222;
}
.clearfix::after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
header {
    background: url(../img/s1_header-bg.jpg) no-repeat center top / cover;
    height: 100vh;
}
.container {
    width: 930px;
    margin: 0 auto;
}
.logo {
    margin-top: 45px;
    float: left;
}
nav {
    margin-top: 50px;
    float: right;
}
.menu {
    padding: 0;
    margin: 0;
    display: block;
}
.menu li {
    float: left;
    display: block;
    margin-right: 40px;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.title_h{
    margin-top: 180px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
}
h1 {
    padding: 0;
    margin-top: 15px;
    font-size: 75px;
}
.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
}
.title_s {
    text-align: center;
    padding-top: 120px;
}
.title_s h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.title_s p {
    font-size: 16px;
    color: #777;
    margin-top: 5px;
}
.services {
    margin-top: 100px;
}
.services_item {
    width: 270px;
    float: left;
    text-align: center;
}
.services_item h4 {
    font-size: 18px;
    margin-bottom: 5px;
}
.services_item p {
    color: #777;
    font-size: 14px;
    line-height: 1.55em;
}
.services_item:last-child {
    float: right;
}
.services_item:nth-child(2) {
    margin-left: 60px;
}
#services {
    padding-bottom: 120px;
}
#portfolio {
    background: #F4F4F4;
    padding-bottom: 120px;
}
.works {
    margin-top: 70px;
}
.works img {
    float: left;
}
.works img:nth-child(2) {
    margin-left: 28px;
}
.works img:last-child {
    float: right;
}
.aboutus_item_odd {
    margin-top: 70px;
    padding-right: 372px;
}
.aboutus_item_even {
    margin-top: 70px;
    padding-left: 372px;
}
.aboutus_item_odd img {
    float: right;
    margin-left: 29px;
}
.aboutus_item_even img {
    float: left;
    margin-right: 29px;
}
.aboutus_text_odd h4{
    display: block;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#first_t {
    text-transform: uppercase;
}
.aboutus_text_odd p {
    margin-top: 20px;
    text-align: right;
    color: #777;
    font-size: 14px;
    line-height: 1.8em;
}
.aboutus_text_even h4{
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#first_t {
    text-transform: uppercase;
}
.aboutus_text_even p {
    margin-top: 20px;
    text-align: left;
    color: #777;
    font-size: 14px;
    line-height: 1.8em;
}
